/.gitattributes export-ignore
/.gitignore export-ignore
/.distignore export-ignore
/.phpstan export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/TODO.md export-ignore
/vendor export-ignore
